.App {
  text-align: center;
  color: rgb(167, 84, 16);
}
body {
  margin: 0;
}
.header {
  background-color: rgb(48, 47, 47);
  height: 15vh;
}

.footer {
  background-color: rgb(48, 47, 47);
  height: 5vh;
}

.router {
  background-color: whitesmoke;
  height: 80vh;
}
